#
# msm network device configuration
#

config MHI_NETDEV
	bool "MHI net device driver support"
	depends on MSM_MHI
	help
	  Implements IP traffic over MHI interface.
	  MHI netdev driver provides a virtual ethernet interface
	  for routing IP packets to external modem via
	  PCIe interface using MHI transport protocol.

config ECM_IPA
	tristate "STD ECM LAN Driver support"
	depends on IPA || IPA3
	help
	  Enables LAN between applications processor and a tethered
	  host using the STD ECM protocol.
	  This Network interface is aimed to allow data path go through
	  IPA core while using STD ECM protocol.

config RNDIS_IPA
	tristate "RNDIS_IPA Network Interface Driver support"
	depends on IPA || IPA3
	help
	  Enables LAN between applications processor and a tethered
	  host using the RNDIS protocol.
	  This Network interface is aimed to allow data path go through
	  IPA core while using RNDIS protocol.

